# Astro
dist/
.astro/
node_modules/
package-lock.json

# Old Jekyll artifacts
_site
.sass-cache
Gemfile.lock
.bundle/

# Test and temp files
test/dest
*.gem
pkg/
*.swp
*~
.DS_Store
bbin/
gh-pages/
site/_site/
coverage
tmp/stackprof-*

